/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  font-family: "Noto Serif", serif;
}

.btn {
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
}

section {
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
}

h3 {
  font-size: 36px;
  color: #1b1b00;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Noto Serif", serif;
}

a {
  font-size: 15px;
}

/* Navbar */
.navigation-splash {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  background-image: url("/images/zadanie-golden_0001s_0003_Background-2.jpg");
  background-position: center center;
  background-size: cover;
}

.navigation-splash .logo-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  -ms-flex-align: center;
      align-items: center;
}

.navigation-splash .logo {
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: inline-block;
  margin: 28px 0 0 60px;
}

.navigation-splash .logo h2 {
  display: inline-block;
  font-family: "Satisfy", cursive;
  font-size: 28px;
  color: #ffc800;
  text-shadow: 0.1em 0.1em 0.1em black;
}

.navigation-splash .menu {
  display: inline-block;
  letter-spacing: 1px;
  word-spacing: 11px;
  text-shadow: 0.1em 0.1em 0.1em black;
  margin-top: 26px;
  margin-right: 60px;
}

.navigation-splash .menu ul {
  list-style-type: none;
  padding-left: 0;
}

.navigation-splash .menu ul li {
  display: inline-block;
  margin: 0 5px;
}

.navigation-splash .menu ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* splash */
.splash {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash h3 {
  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
  font-family: "Noto Serif", serif;
}

.splash h4 {
  font-weight: 300;
  font-size: 60px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0.1em 0.1em 0.1em black;
  margin: 20px 0 55px 0;
  font-family: "Poppins", sans-serif;
}

.splash a {
  text-decoration: none;
  background: #e2b926;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Services */
.services h3 {
  margin: 0;
}

.services p {
  margin: 0;
}

.services .services-wrapper {
  padding-top: 60px;
}

.services .services-wrapper i {
  font-size: 45px;
  color: #ffd12bbd;
  border: 4px solid #ffd129;
  background: transparent;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 17px 0px 0px 2px;
}

/*Our potrfoilio*/
.our-portfolio {
  background-color: #e7e7e7;
}

.our-portfolio .title-wrapper h3 {
  margin: 0;
}

.our-portfolio .title-wrapper p {
  margin-top: 0;
  padding-bottom: 30px;
}

.our-portfolio .image-wrapper {
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 30px;
  display: inline-block;
}

.our-portfolio .image-wrapper img {
  width: 100%;
  height: 335px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-portfolio .image-wrapper .bottom {
  background-color: #ffffff;
}

.our-portfolio .image-wrapper .bottom h4 {
  margin: -9px 0 -6px 0;
  padding-top: 16px;
}

.our-portfolio .image-wrapper .bottom p {
  font-size: 12px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

/* Footer */
footer.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer.container .footer-row {
  -ms-flex-align: center;
      align-items: center;
}

footer.container .footer-row .copy-wrapper {
  padding: 0;
}

footer.container .footer-row .copy-wrapper p {
  font-size: 12px;
  margin: 0 0 0 14px;
}

footer.container .footer-row .icons-wrapper {
  padding: 0;
}

footer.container .footer-row .icons-wrapper .icons {
  display: inline-block;
}

footer.container .footer-row .icons-wrapper .icons ul {
  margin: 0;
  transform: translateX(-50%);
  padding-left: 0;
}

footer.container .footer-row .icons-wrapper .icons ul li {
  list-style-type: none;
  display: inline;
}

footer.container .footer-row .icons-wrapper .icons ul li a {
  text-decoration: none;
  font-size: 0;
  margin: 0 5px;
}

footer.container .footer-row .icons-wrapper .icons ul li a i {
  font-size: 25px;
  background: #1b1b00;
  border-radius: 50%;
  color: white;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

/* Media Query */
@media (max-width: 992px) {
  .navigation-splash .container {
    padding: 0 40px;
  }
  .navigation-splash .container .menu {
    margin-right: 50px;
  }
  .splash {
    max-width: 690px;
  }
  .splash h4 {
    line-height: 1;
  }
  .services {
    padding-left: 50px;
    padding-right: 50px;
  }
  .our-portfolio .container {
    padding: 0 50px;
  }
  footer.container {
    padding: 40px 50px;
  }
}

@media (max-width: 920px) {
  footer.container .footer-row .copy-wrapper p {
    font-size: 11px;
  }
  .icons-wrapper li {
    margin-right: -3px;
    margin-bottom: -3px;
  }
}

@media (max-width: 768px) {
  .navigation-splash .logo-menu .logo {
    margin: -70px 0 0 40px;
  }
  .navigation-splash .logo-menu .logo h2 {
    margin-top: 0;
  }
  .navigation-splash .logo-menu .menu {
    margin-right: 40px;
  }
  .navigation-splash .logo-menu .menu li {
    display: block;
  }
  .splash {
    max-width: 670px;
  }
  .splash h3 {
    font-size: 32px;
    margin-top: 200px;
    line-height: 1.3;
  }
  .splash h4 {
    font-size: 54px;
    line-height: 1.1;
    margin-bottom: 130px;
  }
  .services {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer.container {
    padding: 40px 50px;
  }
  footer.container .footer-row {
    -ms-flex-align: center;
        align-items: center;
  }
  footer.container .footer-row .copy-wrapper p {
    margin: 0 0 0 14px;
    max-width: 90px;
  }
  footer.container .footer-row .icons-wrapper {
    padding: 0;
    margin-bottom: -13px;
  }
  footer.container .footer-row .icons-wrapper .icons {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .navigation-splash .container {
    padding: 0 30px;
  }
  .navigation-splash .container .logo-menu .logo {
    margin-top: -69px;
    margin-left: 24px;
  }
  .navigation-splash .container .logo-menu .menu {
    margin-right: 24px;
  }
  .services .container {
    padding: 0 30px;
  }
  .services .container .services-wrapper {
    padding: 60px 0 0;
  }
  .our-portfolio .container {
    padding: 0 30px;
  }
  footer.container {
    padding: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer.container .footer-row .copy-wrapper {
    margin-bottom: 20px;
  }
  footer.container .footer-row .copy-wrapper p {
    margin: 0;
    min-width: 100%;
    margin-bottom: 20px;
  }
  footer.container .footer-row .icons-wrapper .icons ul {
    transform: translateY(-50%);
  }
  .icons-wrapper {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */