/* Variables */

$font-logo: 'Satisfy', cursive;
$font-menu: 'Roboto', sans-serif;
$font-splash-1: 'Noto Serif', serif;
$font-splash-2: 'Poppins', sans-serif;
$color-navigation: rgb(255, 255, 255);

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}
body {
    margin: 0;
    font-size: 18px;
    line-height: 1.7;
    font-family: $font-splash-1;
}
.btn {
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 30px;
    color: white;
    font-family: $font-splash-2;
}
section {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
i {
    color: #ff0000;
}
h3 {
    font-size: 36px;
    color: #1b1b00;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: $font-splash-2;
}
p {
    font-size: 14px;
    font-family: $font-splash-1;
}
a {
    font-size: 15px;
}

/* Navbar */

.navigation-splash {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url("/images/zadanie-golden_0001s_0003_Background-2.jpg");
    background-position: center center;
    background-size: cover;
    .logo-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .logo {
        justify-content: space-between;
        display: inline-block;
        max-width: 150px;
        margin: 35px 0 0 150px;
        h2 {
            display: inline-block;
            font-family: $font-logo;
            font-size: 26px;
            margin: 0;
            color: #ffc800;
            text-shadow: 0.1em 0.1em 0.1em black;
        }
    }
    .menu {
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 26px;
        word-spacing: 11px;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin-right: 70px;
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    text-decoration: none;
                    font-family: $font-splash-2;
                    color: $color-navigation;
                }
            }
        }
    }
}

/* splash */

.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    margin-bottom: -50px;
    h3 {
        margin-top: 300px;
        font-size: 32px;
        color: $color-navigation;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin: 0 auto;
        font-family: $font-splash-1;
    }
    h4 {
        font-weight: 300;
        font-size: 60px;
        color: $color-navigation;
        letter-spacing: 1px;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin: 20px 0 58px 0;
        font-family: $font-splash-2;
    }
    a {
        text-decoration: none;
        margin-bottom: -5px;
        background: #e2b926;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
    }
}

/* Services */

.services {
    padding-top: 60px;
    padding-bottom: 120px;
    h3 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    .col-md-4 {
        padding-top: 70px;
        i {
            font-size: 45px;
            color:  #ffd129c4;
            border: 4px solid #ffd129;
            background: transparent;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            padding: 17px 0px 0px 2px
        }
    }
}

/*Our potrfoilio*/
.our-portfolio {
    background-color: #e7e7e7;
    padding-bottom: 100px;
    .container {
        .row {
            .col-12 {
                h3 {
                    margin-bottom: 0;
                }
                p {
                    margin-top: 0;
                    padding-bottom: 30px;
                }
                .col-md-4 {
                    margin-left: -2px;
                    margin-right: -2px;
                    margin-top: 30px;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: 335px;
                        object-fit: cover;
                    }
                    .bottom {
                        background-color: #ffffff;
                        h4 {
                            margin-top: -9px;
                            padding-top: 16px;
                            margin-bottom: -6px;
                        }
                        p {
                            font-size: 12px;
                            padding-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}

/* Footer */
footer {
    position: relative;
    .col-3 {
        p {
            font-size: 12px;
            margin-top: 66px;
        }
    }
    .col-9 {
        .icons {
            margin: 50px 0;
            ul {
                li {
                    list-style-type: none;
                    font-size: 0px;
                    display: inline;
                    a {
                        text-decoration: none;
                        font-size: 0px;
                        margin: 0 10px;
                        i {
                            font-size: 30px;
                            background:  #1b1b00;
                            border-radius: 50%;
                            color: white;
                            width: 50px;
                            height: 50px;
                            padding: 12px;
                            line-height: 0.88;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}


/*
<footer class="container">
    <div class="row">
        <div class="col-3">
            <p>&copy Copyright 2021 FreebiesXpress.com</p>
        <div class="col-9">
        <div class="icons">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f scaled"></i>Facebook</a></li> */