/* Variables */

$font-logo: 'Satisfy', cursive;
$font-menu: 'Roboto', sans-serif;
$font-splash-1: 'Noto Serif', serif;
$font-splash-2: 'Poppins', sans-serif;

$color-navigation: rgb(255, 255, 255);

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}
body {
    margin: 0;
    font-size: 18px;
    line-height: 1.7;
    font-family: $font-splash;
}
.btn {
    border-radius: 15px;
    padding: 5px 25px;
    margin-bottom: 30px;
    color: yellow;
}
section {
    padding-bottom: 60px;
    text-align: center;
}
i {
    color: black;
}
h3 {
    font-size: 36px;
    color: black;
    word-spacing: 5px;
    letter-spacing: 1px;
}
a {
    font-size: 15px;
}

/* Navbar */

.navigation-splash {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-image: "images/zadanie-golden_0001s_0003_Background.jpg";
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .logo-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .logo {
        justify-content: space-between;
        display: inline-block;
        max-width: 150px;
        margin: 35px 0 0 150px;
        h2 {
            display: inline-block;
            font-family: $font-logo;
            font-size: 26px;
            margin: 0;
            color: yellow;
            text-shadow: 0.1em 0.1em 0.1em black;
        }
    }
    .menu {
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 26px;
        word-spacing: 11px;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin-right: 70px;
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    text-decoration: none;
                    font-family: $font-menu;
                    color: $color-navigation;
                }
            }
        }
    }
}

/* splash */

.splash {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    margin-bottom: -50px;
    h3 {
        margin-top: 100px;
        font-size: 36px;
        color: $color-navigation;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin: 0 auto;
        font-family: $font-splash-1;
    }
    h4 {
        font-weight: 300;
        font-size: 45px;
        color: $color-navigation;
        letter-spacing: 1px;
        text-shadow: 0.1em 0.1em 0.1em black;
        margin: 20px 0 58px 0;
        font-family: $font-splash-2;
    }
    a {
        text-decoration: none;
        border: 1px solid white;
        margin-bottom: -5px;
    }
}